In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Quatre Cocos,MU,2022-01-28 16:04:36,-20.2078,57.7625,79.09,77,19,12.01
1,1,Busselton,AU,2022-01-28 16:04:38,-33.6500,115.3333,67.08,65,0,14.65
2,2,Barrow,US,2022-01-28 16:04:38,71.2906,-156.7887,-18.38,69,0,12.66
3,3,Nalut,LY,2022-01-28 16:03:42,30.3333,10.8500,54.09,21,0,2.42
4,4,Saskylakh,RU,2022-01-28 16:04:40,71.9167,114.0833,0.57,88,100,6.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Change Zoom Level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Change Zoom Level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Change Zoom Level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 18
What is the maximum temperature you would like for your trip? 25

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Severo-Kurilsk,RU,2022-01-28 16:04:44,50.6789,156.1250,22.89,73,100,34.11
80,80,Vrangel,RU,2022-01-28 16:02:40,42.7297,133.0839,18.61,61,16,16.42
146,146,Petropavlovsk-Kamchatskiy,RU,2022-01-28 16:10:17,53.0452,158.6483,20.62,84,100,19.46
159,159,Paamiut,GL,2022-01-28 16:10:29,61.9940,-49.6678,22.42,87,100,27.58
191,191,Maniitsoq,GL,2022-01-28 16:11:58,65.4167,-52.9000,19.96,74,100,29.39
207,207,Nanortalik,GL,2022-01-28 16:12:16,60.1432,-45.2371,19.78,71,72,4.05
219,219,Tromso,NO,2022-01-28 16:12:23,69.6496,18.9570,24.82,93,40,1.01
224,224,Haines Junction,CA,2022-01-28 16:12:37,60.7522,-137.5108,19.72,97,100,1.12
281,281,Ozernovskiy,RU,2022-01-28 16:15:30,51.5000,156.5167,23.58,82,100,31.03
287,287,Korla,CN,2022-01-28 16:15:35,41.7597,86.1469,24.12,57,0,1.14

In [22]:
preferred_cities_df.count()

City_ID       18
City          18
Country       18
Date          18
Lat           18
Lng           18
Max Temp      18
Humidity      18
Cloudiness    18
Wind Speed    18
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                          City Country  Max Temp      Lat       Lng Hotel Name
10              Severo-Kurilsk      RU     22.89  50.6789  156.1250
80                     Vrangel      RU     18.61  42.7297  133.0839
146  Petropavlovsk-Kamchatskiy      RU     20.62  53.0452  158.6483
159                    Paamiut      GL     22.42  61.9940  -49.6678
191                  Maniitsoq      GL     19.96  65.4167  -52.9000
207                 Nanortalik      GL     19.78  60.1432  -45.2371
219                     Tromso      NO     24.82  69.6496   18.9570
224            Haines Junction      CA     19.72  60.7522 -137.5108
281                Ozernovskiy      RU     23.58  51.5000  156.5167
287                      Korla      CN     24.12  41.7597   86.1469

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.dropna()
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Severo-Kurilsk,RU,22.89,50.6789,156.1250,Kak Doma
80,Vrangel,RU,18.61,42.7297,133.0839,"Отель ""БАЛИ"""
146,Petropavlovsk-Kamchatskiy,RU,20.62,53.0452,158.6483,The Hotel Petropavlovsky
159,Paamiut,GL,22.42,61.9940,-49.6678,Pistut
191,Maniitsoq,GL,19.96,65.4167,-52.9000,Hotel Heilmann Lyberth
207,Nanortalik,GL,19.78,60.1432,-45.2371,Hotel Kap Farvel
219,Tromso,NO,24.82,69.6496,18.9570,"Radisson Blu Hotel, Tromsø"
224,Haines Junction,CA,19.72,60.7522,-137.5108,Parkside Inn
281,Ozernovskiy,RU,23.58,51.5000,156.5167,
287,Korla,CN,24.12,41.7597,86.1469,Gulisitan Hotel
289,Tilichiki,RU,23.40,60.4667,166.1000,
303,Havre-Saint-Pierre,CA,19.99,50.2334,-63.5986,Auberge Niapiskau
314,Zhangye,CN,23.14,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
334,Price,US,23.41,39.5994,-110.8107,National 9 - Price River Inn
392,Podporozhye,RU,19.92,60.9112,34.1706,U Maksimycha
448,Shitanjing,CN,20.61,39.2342,106.3439,
456,Dongsheng,CN,18.14,39.8161,109.9776,Crowne Plaza Ordos
521,Evensk,RU,18.55,61.9500,159.2333,

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))