## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()
city_data_df.set_index('City_ID')

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
City_ID,,,,,,,,,,
0,Ushuaia,AR,2022-01-29 21:02:36,-54.8000,-68.3000,51.94,89,100,3.13,light rain
1,Godean,ID,2022-01-29 20:59:05,-7.7697,110.2939,75.04,92,100,2.80,overcast clouds
2,Rikitea,PF,2022-01-29 21:02:38,-23.1203,-134.9692,77.32,73,100,10.71,overcast clouds
3,Hervey Bay,AU,2022-01-29 20:56:10,-25.2986,152.8535,75.02,93,72,7.00,broken clouds
4,Jeremoabo,BR,2022-01-29 21:02:39,-10.0750,-38.4808,75.54,74,100,5.88,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
737,Sisimiut,GL,2022-01-29 21:28:29,66.9395,-53.6735,8.02,85,100,31.68,light snow
738,Patiya,BD,2022-01-29 21:28:30,22.2931,91.9762,49.41,78,0,4.21,clear sky
739,Imperia,IT,2022-01-29 21:28:31,43.9667,7.7833,45.00,88,90,3.27,overcast clouds
740,San Patricio,US,2022-01-29 21:28:32,28.0170,-97.5169,68.09,25,54,5.39,broken clouds
741,Lima,PE,2022-01-29 21:28:33,-12.0432,-77.0282,76.39,85,40,1.99,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Godean,ID,2022-01-29 20:59:05,-7.7697,110.2939,75.04,92,100,2.80,overcast clouds
2,2,Rikitea,PF,2022-01-29 21:02:38,-23.1203,-134.9692,77.32,73,100,10.71,overcast clouds
3,3,Hervey Bay,AU,2022-01-29 20:56:10,-25.2986,152.8535,75.02,93,72,7.00,broken clouds
4,4,Jeremoabo,BR,2022-01-29 21:02:39,-10.0750,-38.4808,75.54,74,100,5.88,overcast clouds
7,7,Port Hedland,AU,2022-01-29 20:58:38,-20.3167,118.5667,82.45,74,40,2.30,scattered clouds
11,11,Vaini,TO,2022-01-29 21:02:45,-21.2000,-175.2000,81.46,78,100,16.84,overcast clouds
12,12,Puerto Ayora,EC,2022-01-29 21:02:46,-0.7393,-90.3518,76.44,71,28,9.35,scattered clouds
13,13,Atuona,PF,2022-01-29 21:02:47,-9.8000,-139.0333,77.72,75,18,13.67,few clouds
17,17,Tiarei,PF,2022-01-29 21:02:50,-17.5333,-149.3333,84.22,74,99,13.27,overcast clouds
20,20,Bandarbeyla,SO,2022-01-29 21:02:53,9.4942,50.8122,75.76,65,94,21.99,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                188
City                   188
Country                188
Date                   188
Lat                    188
Lng                    188
Max Temp               188
Humidity               188
Cloudiness             188
Wind Speed             188
Current Description    188
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                188
City                   188
Country                188
Date                   188
Lat                    188
Lng                    188
Max Temp               188
Humidity               188
Cloudiness             188
Wind Speed             188
Current Description    188
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Godean,ID,75.04,overcast clouds,-7.7697,110.2939,
2,Rikitea,PF,77.32,overcast clouds,-23.1203,-134.9692,
3,Hervey Bay,AU,75.02,broken clouds,-25.2986,152.8535,
4,Jeremoabo,BR,75.54,overcast clouds,-10.0750,-38.4808,
7,Port Hedland,AU,82.45,scattered clouds,-20.3167,118.5667,
11,Vaini,TO,81.46,overcast clouds,-21.2000,-175.2000,
12,Puerto Ayora,EC,76.44,scattered clouds,-0.7393,-90.3518,
13,Atuona,PF,77.72,few clouds,-9.8000,-139.0333,
17,Tiarei,PF,84.22,overcast clouds,-17.5333,-149.3333,
20,Bandarbeyla,SO,75.76,overcast clouds,9.4942,50.8122,

In [8]:
import json
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Godean,ID,75.04,overcast clouds,-7.7697,110.2939,Rumah Limas
2,Rikitea,PF,77.32,overcast clouds,-23.1203,-134.9692,People ThankYou
3,Hervey Bay,AU,75.02,broken clouds,-25.2986,152.8535,Shelly Bay Resort
4,Jeremoabo,BR,75.54,overcast clouds,-10.0750,-38.4808,
7,Port Hedland,AU,82.45,scattered clouds,-20.3167,118.5667,The Esplanade Hotel (Accommodation section clo...
11,Vaini,TO,81.46,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Puerto Ayora,EC,76.44,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Atuona,PF,77.72,few clouds,-9.8000,-139.0333,Villa Enata
17,Tiarei,PF,84.22,overcast clouds,-17.5333,-149.3333,Le Rocher de Tahiti
20,Bandarbeyla,SO,75.76,overcast clouds,9.4942,50.8122,JABIR HOTEL

In [9]:
import numpy as np
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Godean,ID,75.04,overcast clouds,-7.7697,110.2939,Rumah Limas
2,Rikitea,PF,77.32,overcast clouds,-23.1203,-134.9692,People ThankYou
3,Hervey Bay,AU,75.02,broken clouds,-25.2986,152.8535,Shelly Bay Resort
4,Jeremoabo,BR,75.54,overcast clouds,-10.0750,-38.4808,NaN
7,Port Hedland,AU,82.45,scattered clouds,-20.3167,118.5667,The Esplanade Hotel (Accommodation section clo...
11,Vaini,TO,81.46,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Puerto Ayora,EC,76.44,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Atuona,PF,77.72,few clouds,-9.8000,-139.0333,Villa Enata
17,Tiarei,PF,84.22,overcast clouds,-17.5333,-149.3333,Le Rocher de Tahiti
20,Bandarbeyla,SO,75.76,overcast clouds,9.4942,50.8122,JABIR HOTEL

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Godean,ID,75.04,overcast clouds,-7.7697,110.2939,Rumah Limas
2,Rikitea,PF,77.32,overcast clouds,-23.1203,-134.9692,People ThankYou
3,Hervey Bay,AU,75.02,broken clouds,-25.2986,152.8535,Shelly Bay Resort
7,Port Hedland,AU,82.45,scattered clouds,-20.3167,118.5667,The Esplanade Hotel (Accommodation section clo...
11,Vaini,TO,81.46,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Puerto Ayora,EC,76.44,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Atuona,PF,77.72,few clouds,-9.8000,-139.0333,Villa Enata
17,Tiarei,PF,84.22,overcast clouds,-17.5333,-149.3333,Le Rocher de Tahiti
20,Bandarbeyla,SO,75.76,overcast clouds,9.4942,50.8122,JABIR HOTEL
25,Corn Island,NI,79.21,few clouds,12.1694,-83.0418,Big Fish Guest House

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))